<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="author" content="Seyz" />

     <meta property="og:determiner" content="Seyz" />

		<meta property="og:title" content="Screenshot" />

		<meta property="og:image" content="/file/{{ .Id }}" />

		<meta property="og:url" content="/" />

		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="photo" />

		<meta name="twitter:title" content="Screenshot" />

		<meta name="twitter:site" content="@szeroki_" />

		<meta name="twitter:image:src" content="/file/{{ .Id }}" />

		<title>Lightshot | {{ .Id }}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />

	</head>
	<body>
		<section class="section">
			<div class="container has-text-centered">
				<h1 class="title">Lightshot image server</h1>
				<!--<p class="subtitle">By Seyz</p>-->
				<figure class="image">
					<img src="/file/{{ .Id }}" />

				</figure>
			</div>
		</section>
	</body>
</html>